<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><i class="fas fa-euro fa-2x" aria-hidden="true"></i><b>Cautionem</b></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CompanySetup">
                <span class="fas fa-tools" aria-hidden="true"></span>&nbsp;@SharedLocalizer["setup"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerSetup">
                <span class="fas fa-tools" aria-hidden="true"></span>&nbsp;@SharedLocalizer["customer"]
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="CustomerContactsSetup">
                <span class="fas fa-tools" aria-hidden="true"></span>&nbsp;@SharedLocalizer["customercontact"]
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}