@page "/CompanySetup"
@using Cautionem.Models
@using Cautionem.Components

@inject DialogService dialogService
@inject Cautionem.Data.CompanyService companyService
@inject IStringLocalizer<CompanySetup> Localizer

    <div class="container">
        <div class="row">
            <div class="col-md column_style"><Company></Company></div>
            <div class="col-md column_style"><Bank></Bank></div>
        </div>
        <div class="row">
            <div class="col-md column_style"><PaymentType></PaymentType></div>
            <div class="col column_style"></div>
        </div>
    </div>
