@page "/CompanySetup"
@using Cautionem.Models
@using Cautionem.Components

@inject DialogService dialogService
@inject Cautionem.Data.CompanyService companyService
@inject IStringLocalizer<CompanySetup> Localizer

    <div class="container">
        <h3>@Localizer["ConfigSetup"]</h3>
        <div class="row">
            <div class="col-md column_style"><Company></Company></div>
            <div class="col-md column_style"><Bank></Bank></div>
        </div>
        <div class="row">
            <div class="col-md column_style"><PaymentType></PaymentType></div>
            <div class="col column_style"></div>
        </div>
        @*<div class="row">
            <div class="col-md column_style"><Customer></Customer></div>
        </div>*@
    </div>

@code
{
    protected override void OnInitialized()
    {
        myBlocker.Show();
    }

    protected void OnAfterRender()
    {
        myBlocker.Hide();
    }
}