@page "/Login"

@inject Cautionem.Data.AccessService accessService
@inject AuthenticationStateProvider AuthenStateProv;
@inject NavigationManager Navigation;

<div class="container h-100">
    <div class="d-flex justify-content-center align-middle h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="usernametext" class="form-control input_user" value="" placeholder="@SharedLocalizer["username"]">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="passwordtext" class="form-control input_pass" value="" placeholder="@SharedLocalizer["password"]">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="button" name="button" class="btn login_btn">@SharedLocalizer["login"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code{




    private async void LogInMe()
    {
        int return_code;

        myBlocker.Show();
        Task<int> loginTask = accessService.LogInAsync("", "");

        return_code = await loginTask;
        switch (loginTask.Result)
        {
            case 0:
                //CompleteUserName = accessService.MyLogin.Name + " " + accessService.MyLogin.FamilyName;

                @*if (accessService.MyLogin.Image is null)
                    {
                        //UserPhoto = "";
                    }
                    else
                    {
                        //UserPhoto = "data:image/jpg;base64," + Convert.ToBase64String(accessService.MyLogin.Image, 0, accessService.MyLogin.Image.Length);
                    }*@
                //toastService.ShowSuccess(SharedLocalizer["LOGIN_SUCCESS"], SharedLocalizer["LOGIN_TITLE"]);
                break;
            case 1:
                //CompleteUserName = "";
                //toastService.ShowError(SharedLocalizer["LOGIN_CREDENTIALS_ERROR"], SharedLocalizer["LOGIN_TITLE_ERROR"]);
                break;
            case 2:
                //CompleteUserName = "";
                //toastService.ShowError(SharedLocalizer["CONNECTION_ERROR"], SharedLocalizer["TITLE_CONNECTION_ERROR"]);
                break;
        }
        StateHasChanged();
        myBlocker.Hide();
    }

    private async void LogOutMe()
    {
        await accessService.LogOut();
        Navigation.NavigateTo("/");
    }
}
